body {
    background: white;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar {
    background: linear-gradient(149deg, rgba(231,14,14,1) 0%, rgb(255, 119, 119) 100%);
    margin-bottom: 10px;
    margin-left: -10px;
    margin-right:-10px;
}

.row {
    margin: 0 !important;
}

.message {
    min-width: 200px;
    max-width: 60vw;
    min-height: 100px;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow-wrap: break-word;
}